footer{
  border-top: .0625rem solid #DEC129;
  text-align: center;
  height: auto;

  margin-top: 1rem;
  padding: 1.25rem;

  & > h3{
    margin-bottom: 1.25rem;
  }

  & > span{
    color: #DEC129;
    font-weight: 700;
  }
}
